body{
    background: black;
    overflow: hidden;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#gameCanvas{
    position: relative;
    top:45%;
    left:45%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: auto;
    border: 5px solid white;
}

button{
    color: white;
    background: #0095ff;
    margin: 2rem;
    padding: 1rem;
}

.colorText{
    color: pink;
}

#playerImg, #backGround, #enemyImg{
    display: none;
}

p {
    padding: 3rem 5rem;
}